.well
  - if can? :manage, @profile
    .row-fluid
      .manage-button-wrapper
        = link_to t(:edit), edit_profile_path(@profile), class: "manage-button"

  .row-fluid
    .pull-left
      %h3= t(:user_profile, user: @profile.username)
  .row-fluid
    .span12
      %fieldset
        %legend= t(:common_info)
        = profile_attribute_block Profile.human_attribute_name(:username), @profile.username
        = profile_attribute_block Profile.human_attribute_name(:fullname), @profile.fullname
        = profile_attribute_block Profile.human_attribute_name(:country), @profile.country_name
        = profile_attribute_block Profile.human_attribute_name(:created_at), @profile.created_at
        = profile_attribute_block Profile.human_attribute_name(:user_current_sign_in_at), @profile.user_current_sign_in_at

  - if @profile.profile_url?
    .row-fluid
      .span12
        .span8
          %fieldset
            %legend= t(:battlenet_info)
            .span12
              .span2
                = avatar_html @profile
                - if can? :manage, @profile
                  = link_to t(:reload), sync_profile_path(@profile), class: "btn", method: :put
              .span10
                %p
                  %strong= "#{Profile.human_attribute_name(:bnet_name)}:"
                  = link_to @profile.bnet_name, @profile.profile_url, rel: "nofollow"
                %p
                  %strong= "#{Profile.human_attribute_name(:server)}:"
                  = @profile.battlenet_server

                %p
                  %strong= "#{Profile.human_attribute_name(:achievements)}:"
                  %span.achievements= @profile.achievements
                =# TODO: race
                = profile_attribute_block Profile.human_attribute_name(:synchronized_at), @profile.synchronized_at

        .span4
          %fieldset
            %legend= t(:game_stats)
            - if @profile.has_played_games?
              = @profile.badge
              = profile_attribute_block Profile.human_attribute_name(:game_type), "1x1"
              = profile_attribute_block Profile.human_attribute_name(:rank), @profile.rank
              = profile_attribute_block Profile.human_attribute_name(:points), @profile.points
              = profile_attribute_block Profile.human_attribute_name(:wins), @profile.wins
            - else
              = t(:no_played_games_yet)

  - if @profile.details?
    .row-fluid
      .span12
        %fieldset
          %legend= Profile.human_attribute_name(:details)
          = simple_format @profile.details

