.article.well{id: dom_id(article)}
  - if can? :manage, article
    .row-fluid
      - if article.deleted?
        - if can? :restore, article
          .manage-button-wrapper
            = link_to t(:restore), restore_article_path(article), method: :put, confirm: t(:are_you_sure_restore_article), class: "manage-button"
      - else
        .manage-button-wrapper
          = link_to t(:delete), article, method: :delete, confirm: t(:are_you_sure_delete_article), class: "manage-button"
      .manage-button-wrapper
        = link_to t(:edit), edit_article_path(article), class: "manage-button"
  .row-fluid.article-title.clearfix
    .pull-left
      %h3
        = unpublished_prefix(article)
        = link_to article.title, article, class: deleted_class(article), title: deleted_title(article)
    .pull-right
      = succeed ":" do
        = t(:published_by)
      = link_to user_profile_path(article.user.username) do
        = article.user_name || article.user_email
      = " @"
      = l article.published_at, format: :long

  .article-body
    = raw formatted(article.body, index?)
    = link_to t(:read_more), article if index?
  .article-tags.pull-left
    - article.tags.each do |tag|
      = link_to tagged_articles_path(tag.name) do
        %i.icon-tag
        = tag.name
      &nbsp;&nbsp;
  .article-meta.pull-right
    = succeed ":" do
      = t(:comments)
    = link_to article.comments.count, article_path(article, anchor: "comments")
    = "|"
    = t("articles.meta.views_count", :views_count => article.views_count)
  .spacer
  %hr
