.article.well{id: dom_id(article)}
  .pull-left
    %h3
      = link_to article.title, article
  .pull-right
    = succeed ":" do
      = t(:published_by)
    = link_to user_path(article.user) do
      = article.user_name || article.user_email
    = " @"
    = l article.created_at, format: :long
  .spacer
  .article-body
    = raw article.body.split(Article::CUTTER).first
  .article-tags.pull-left
    - article.tags.each do |tag|
      = link_to tag_articles_path(tag.name) do
        %i.icon-tag
        = tag.name
      &nbsp;&nbsp;
  .article-meta.pull-right
    = succeed ":" do
      = t(:comments)
    = link_to article.comments.count, article_path(article, anchor: "comments")
    = "|"
    = t("articles.meta.views_count", :views_count => article.views_count)
  .spacer
  %br
  -# .fb-like(data-href="#{article_url(article)}" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false")
  -# %a.twitter-share-button(href="https://twitter.com/share" data-url="#{article_url(article)}" data-text="#{article.title}")
  -#   Tweet
  %hr
