.well
  = simple_form_for article, defaults: { label: false, input_html: { class: "input-fullwidth" } } do |f|
    = f.input :title
    = f.input :body, as: :ckeditor
    = f.input :tag_list, hint: t(:tags_hint)
    = f.input :published_on, input_html: { class: "span2" }, label: Article.human_attribute_name(:published_on)
    = f.input :published, inline_label: true

    = render 'hint'

    .form-actions
      = f.button :submit, class: "btn btn-primary", :"disable-with" => t(:wait)
      = link_to t(:cancel), root_path, class: "btn"

