#article-hint.accordion
  .accordion-group
    .accordion-heading
      = link_to t(:hint_title), "#collapse-hint", class: "accordion-toggle", data: { toggle: "collapse", parent: "#article-hint" }
    #collapse-hint.accordion-body.collapse.out
      .accordion-inner
        %p
          = succeed ":" do
            = t(:hint_description)

        %p
          = article_hint "cut", t("hint.cut_desc")
          - ReplaceIconsStrategy.rules.each do |rule|
            = article_hint_by_rule(rule)
