- title t(:articles_title)

.spacer
.row-fluid
  = render @sticky_articles

= link_to "#", class: "thumbnail banner472x71 centered" do
  = image_tag "http://placehold.it/472x71"
.spacer

.spacer
.row-fluid
  = render @articles

.row-fluid
  = paginate @articles
