.spacer
.row-fluid
  = render "article", article: @article

#comments
  - if @comments.present?
    - @comments.each do |comment|
      = render 'comments/comment', comment: comment
  - else
    .well
      = t(:no_comments_youre_able_to_become_first)

#comments-form
  - if can? :create, Comment
    = render 'comments/form', article: @article, comment: @comment
  - else
    .well
      = t(:only_registered_users_allowed_to_comment)

