%footer.background
  .pull-left
    %ul.social
      %li= link_to_social 'twitter', 'https://twitter.com/StarCraftMD'
      %li= link_to_social 'youtube', 'http://www.youtube.com/bashcofee'
      %li= link_to_social 'vkontakte', 'http://vk.com/public52811116'
  .pull-right.align-right
    %p.copyright
      = t(:copyright, current_year: Date.current.year)
    %p.terms-mini
      = t(:terms_mini)
  .clear
