.spacer
= link_to "#", class: "thumbnail" do
  = image_tag "http://placehold.it/254x63"
.spacer

= link_to "#", class: "thumbnail" do
  = image_tag "http://placehold.it/254x63"
.spacer

= render 'shared/chat'
