%ul.social.pull-right
  %li= link_to_social 'twitter', 'https://twitter.com/StarCraftMD'
  %li= link_to_social 'youtube', 'http://www.youtube.com/bashcofee'
  %li= link_to_social 'vkontakte', 'http://vk.com/starcraftmd'

.clearfix
.spacer

= render 'shared/chat'

.spacer
= link_to "#", class: "thumbnail banner254x63 centered" do
  = image_tag "http://placehold.it/254x63"
.spacer

= link_to "#", class: "thumbnail banner254x63 centered" do
  = image_tag "http://placehold.it/254x63"
.spacer
