.navbar.navbar-inverse.navbar-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          = link_to_nav t(:home), root_path
          = link_to_page_nav "about"
          = link_to_page_nav "jobs"
          = link_to_nav t(:tag_cloud), tags_path
          %li.divider-vertical
          - if can? :create, Article
            = link_to_nav t(:create_article), new_article_path

        - if user_signed_in?
          .btn-group.pull-right
            = link_to "#", class: "btn dropdown-toggle", data: { toggle: "dropdown" } do
              %i.icon-user
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li= link_to t("users.profile"), user_profile_path(current_user.username)
              %li= link_to t("users.account"), edit_user_registration_path
              - if can? :manage, User
                %li.divider
                %li
                  = link_to users_path do
                    %i.icon-group
                    = t(:manage_users)
              - if can? :manage, OurFriend
                %li= link_to t(:manage_our_friends), our_friends_path
              - if can? :create, Page
                %li= link_to t(:manage_pages), pages_path
              %li.divider
              %li= link_to t("users.logout"), :destroy_user_session, method: :delete
        - else
          = form_for User.new, url: user_session_path, html: {action: user_session, class: "form-inline pull-right top-login"} do |f|
            = f.text_field :login, placeholder: User.human_attribute_name(:login), class: "input-small"
            = f.password_field :password, placeholder: User.human_attribute_name(:password), class: "input-small"
            = f.submit t(:do_sign_in), class: "btn"
          %ul.nav.pull-right
            = link_to_nav t(:reset_password), new_user_password_path
            = link_to_nav t(:sign_up), new_user_registration_path
            %li.divider-vertical
