!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = display_meta_tags site: t(:site_name)
    = csrf_meta_tags
  %body
    = image_tag 'logo.gif', alt: t(:site_name)
    = render 'shared/top_nav_bar'

    .container-fluid.background.main-container
      = render partial: "shared/flash_messages", locals: {flash: flash}
      .row-fluid
        .span1
        .span8
          = yield
        .my_span2
          = render :partial => 'shared/side_right'
      %hr/
  %footer.background
    .pull-left.blizzard-logo
      = image_tag "blizzard_logo.gif"
    .pull-left
      = t(:site_name)
      %br/
      = link_to t(:fan_site), "#"
    .pull-right.align-right
      %p.copyright
        = t(:copyright, current_year: Date.current.year)
      %p.terms-mini
        = t(:terms_mini)
    .clear


    = render 'shared/social_widgets'

