!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = display_meta_tags :site => "StarCraft.md"
    = csrf_meta_tags
  %body
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %h1 StarCraft.md

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Starcraft.md
          .nav-collapse
            %ul.nav
              %li.active
                %a(href="/") Home
              %li
                %a(href="/about") About
              %li
                %a(href="/contact") Contact

          = form_for "user", :url => user_session_path, :html => {action: user_session, class: "navbar-form pull-right"} do |f|
            = f.text_field :email, :placeholder => "email", :class => "input-small"
            = f.password_field :password, :placeholder => "Пароль", :class => "input-small"
            %button.btn(type="submit") Войти

    .container
      = render :partial => "shared/flash_messages", :locals => {flash: flash}
      = yield



