!!!
%html
  %head
    = stylesheet_link_tag  "application", media: "all"
    = favicon_link_tag "favicon.ico"
    = display_meta_tags site: t(:site_name)
    = csrf_meta_tags
    %meta{content: "GI0ODWpwyO2N5iCZWPVeXSiF1Hke1WVRGVUPNSUQS3s", name: "google-site-verification"}/
  %body{:"data-development" => Rails.env.development?}
    .row-fluid
      .span6
        = link_to root_path do
          = image_tag 'logo.gif', alt: t(:site_name)
      .span6
        = link_to "/", class: "pull-right top-right-banner", target: "_blank" do
          = image_tag "https://placehold.it/472x71"
    .row-fluid
      = render 'shared/top_nav_bar'

    .container-fluid.background.main-container
      = render "shared/flash_messages"
      .row-fluid
        .span12
          .span8.content-bar
            = yield
          .span3.sidebar
            = render 'shared/side_right'
      %hr/

    = render 'shared/tags'

    - friends = OurFriend.visible
    - if friends.present?
      .container-fluid.background.main-container
        .our-friends
          %h3= t(:our_friends)
          - friends.each do |friend|
            = link_to friend.url, target: '_blank' do
              - if friend.image.present?
                = image_tag friend.image, alt: friend.title
              - else
                = friend.title

    = render 'shared/footer'

    =# render 'shared/social_widgets'

    = javascript_include_tag "application"

    = render 'shared/google_analytics'

